name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      
      - uses: oven-sh/setup-bun@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          bun-version: latest
      
      - name: Publish to NPM
        if: ${{ steps.release.outputs.release_created }}
        run: |
          npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
          bun run publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}